.amoforms-entry-detail-info-block {
  margin-bottom: 10px;
}
.amoforms-entry-detail-table th {
  width: 200px;
}
.amoforms_pagination {
  margin-top: 20px;
}
.amoforms-entries-page-form-select-wrapper {
  margin-bottom: 10px;
}