<div class="amoforms__antispam">
    <input id="antispam_input" type="text" class="amoforms_field_element amoforms__text-input{{#field.required}}js-is-required{{/field.required}}" name="fields[{{field_id}}]">
</div>
