<div class="amoforms__checkbox-control">
	<label class="amoforms__checkbox__label"><span class="amoforms__checkbox"><input type="checkbox" name="fields[{{field_id}}]" class="{{#field.required}}js-is-required{{/field.required}}" value="Yes"><b class="amoforms_field_element"></b></span></label>
</div>