<div class="js-edit-limit-wrapper">
	<div class="amoforms__fields__edit__descr amoforms__fields__edit__descr-placeholder">Limit input to this field</div>
	<input
		type="text"
		class="amoforms__text-input amoforms__fields__edit__input"
		name="field[options][limit]"
		title="Limit"
		value="{{field.options.limit}}"
		>
</div>