<div class="js-edit-label-wrapper">
    <div class="amoforms__fields__edit__descr amoforms__fields__edit__descr-label">Label</div>
    <input
            type="text"
            class="amoforms__text-input amoforms__fields__edit__input"
            name="field[label]"
            title="label"
            value="{{field.label}}"
    >
</div>