<div class="amoforms__fields__edit__row clearfix">
    <div class="amoforms__fields__edit__descr amoforms__fields__edit__descr-default-value">Question</div>
    <input
        type="text"
        class="amoforms__text-input amoforms__fields__edit__input"
        name="field[spam][question]"
        title="Question"
        value="{{field.spam.question}}"
        >
    <div class="amoforms__fields__edit__descr amoforms__fields__edit__descr-default-value">Answer</div>
    <input
            type="text"
            class="amoforms__text-input amoforms__fields__edit__input"
            name="field[spam][answer]"
            title="Answer"
            value="{{field.spam.answer}}"
    >
</div>