<div class="amoforms__fields__edit__descr amoforms__fields__edit__descr-tax">Tax Size</div>
<input
	type="text"
	class="amoforms__text-input amoforms__fields__edit__input js-is-percents"
	name="field[default_value]"
	title="Tax Size"
    placeholder="13.2%"
    value="{{field.default_value}}"
>