<div class="js-edit-filesize-wrapper">
    <div class="amoforms__fields__edit__descr amoforms__fields__edit__descr-filesize">Max file size (MB)</div>
    <input
            type="number"
            step="1"
            min="1"
            max="64"
            class="amoforms__text-input amoforms__number-input amoforms__fields__edit__input js-is-filesize"
            name="field[size]"
            title="filesize"
            value="{{field.size}}"
    >
</div>