<div class="amoforms__fields__edit__row clearfix">
    <div class="amoforms__fields__edit__descr amoforms__fields__edit__descr-label">Acceptable file types</div>
    <textarea
            class="amoforms__text-input amoforms__fields__edit__textarea js-is-extensions"
            name="field[extensions]"
            placeholder="Example: .rar, .zip, .docx"
            title="File types"
            rows="3"
    >{{field.extensions}}</textarea>
    <p class="amoforms__file_filetypes_help">
        Please specify acceptable file types for uploading or leave this field empty to allow uploading files of any type.
    </p>
</div>
