<div class="amoforms__file-input__wrapper amoforms_field_element">
    <p class="amoforms__file-input__title">{{field.label}}</p>
    <p class="amoforms__file_limits">Max file size: <span class="amoforms__file_size">{{field.size}}</span> MB. <span {{^field.extensions}}style="display: none"{{/field.extensions}}>Acceptable file types:
        <span class="amoforms__file_types">{{field.extensions}}</span>
    </span>
</div>