<input
        type="text"
        class="amoforms__text-input amoforms_field_element js-is-number {{#field.required}}js-is-required{{/field.required}} {{#field.options.limit}}js-is-limited{{/field.options.limit}}"
        name="fields[{{field_id}}]"
        placeholder="{{#name_position_inside}}{{field.name}}{{/name_position_inside}}{{^name_position_inside}}{{field.placeholder}}{{/name_position_inside}}"
        value="{{field.default_value}}"
        {{#field.options.noautofill}}
        autocomplete="off"
        readonly
        onfocus="this.removeAttribute('readonly')"
        {{/field.options.noautofill}}
        {{#field.options.limit}}
        maxlength="{{.}}"
        {{/field.options.limit}}
        {{#field.options.calculation}}
        data-calculate="true"
        {{/field.options.calculation}}
>