<div class="amoforms__radio-control amoforms_field_element {{^is_layout_inline}}amoforms__radio-control-block{{/is_layout_inline}}">
	{{#field.enums}}<label class="amoforms__radio__label"><span class="amoforms__radio"><input type="radio" class="{{#field.required}}js-is-required{{/field.required}}" name="fields[{{field_id}}]" value="{{.}}"><b class="amoforms_radio_item"></b></span><b class="amoforms_radio_item_label">{{.}}</b></label>{{/field.enums}}
</div>