<div class="amoforms__rating-stars amoforms_field_element">
    <span class="amoforms_rating_star" data-number="1">★</span>
    <span class="amoforms_rating_star" data-number="2">★</span>
    <span class="amoforms_rating_star" data-number="3">★</span>
    <span class="amoforms_rating_star" data-number="4">★</span>
    <span class="amoforms_rating_star" data-number="5">★</span>
    <input type="hidden" class="amoforms__rating-input" name="fields[{{field.id}}]" value="">
</div>