<textarea
        class="amoforms__text-input amoforms_field_element amoforms__fields__edit__textarea {{#field.required}}js-is-required{{/field.required}}"
        name="fields[{{field_id}}]"
        rows="10"
        placeholder="{{#name_position_inside}}{{field.name}}{{/name_position_inside}}{{^name_position_inside}}{{field.placeholder}}{{/name_position_inside}}"
    >{{field.default_value}}</textarea>